
.page {
    width: 700px;

    margin: auto;
    border-top: 30px solid  #2D2D34;

    background-color:  #2D2D34; 
}

.banner {
    width: 570px;

    margin: auto;
    margin-bottom: 20px;

    border: 3px none #B97375;
    border-radius: 8px;

    text-align: center;
    vertical-align: middle;

    color: white;
}

.content {
    overflow: auto;

    width: 580px;
    
    margin: auto;
    border: 3px;
}

.project-info {
    margin: 5px;
    margin-top: 10px;
}

.author-info {
    margin: 0px;
    margin-bottom: 10px;
}